<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Passing Example</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="button-container">
        <button onclick="touser()" class="user">USER</button>
        <button onclick="todriver()" class="driver">DRIVER</button>
    </div>





</body>
<script>
    function touser()
    {
        window.location.href = '/user';
    }
    function todriver()
    {
        window.location.href = '/driver'
    }
</script>
</html>
